$primary: #212121;
$secondary : white;
$yellow: #f9cb32;


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $secondary;
  }
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12{
    padding:0px;
  }
  
  /* Font */
  h1 {
    color: black;
    font-weight: bold;
    font-size:3em;
  }
  h2{
    color:#4a4a4a;
    font-size:22px;
  }
  h3{
    color:#4a4a4a;
    font-size:14px;
  }
  h4{
    color: $secondary;
  }
  p{
      color: $secondary;
  }
  
  
  .app-container {
    padding: 25px;
  }
  
  .percentage-number {
    color: rgb(63, 81, 181);
    font-size: 50px;
    font-weight: bold;
  }
  .percentage-sign {
    color: rgb(63, 81, 181);
    font-size: 40px;
  }
  .percentage-container {
    text-align: center;
        :first-child {
        padding-bottom: 3em;
        }
  }

    /* Search */

  .searchBar{
    background-color:$yellow;
    color:white;
    padding-left:3%;
    line-height: 100%;
  }
  .searchForm{
      form {
          margin-top: 5%;
      }
      input{
        background-color: transparent;
        border: none;
        color: $secondary;
        font-size:2em; 
        width:80%;
      }
  }
 input::placeholder{
  color: $secondary;
  font-size:1.2em;
}
svg.MuiSvgIcon-root {
  font-size: 2.5em;
}
.cardFlight{
  border: 2px solid black;
  float:left;
  margin-right:2%;
    p{
      color:black;
      font-size:15px;
    }
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  
  div#slider { overflow: hidden; height:150px; }
  div#slider .card .cardFlight { width: 15%; float: left; text-align:center; }
  div#slider .card { 
    position: relative;
    width: 200%;
    margin: 0;
    height:100%;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
  }

  .allFlightButton {
    background-color: #4a4a4a;
    height: 50px;
    line-height: 50px;
    color: white;
    h3{
      color:white;
    }
}

  